.dropdown-item {
  white-space: break-spaces;
}
.hovering:focus {
  box-shadow: 0 0 8pt #000000;
}

.pointer {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .detail-direction {
    flex-direction: column;
  }
  .card-detail {
    width: 100vw !important;
  }
}
